:root {
  --main-color: #4d4e4f;
  --secondary-color: #ccced2;
  --popOf-color: #d9b9b2;
  --accent-color: #dcc0aa;
  --offWhite-color: #f7f7f7;
  --main-font: "Poppins", sans-serif;
  --accent-font: "Merriweather", serif;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
}

.hero {
  background-color: var(--popOf-color);
  text-align: center;
  color: var(--main-color);
  padding: 160px 20px;
}

.hero p {
  text-align: left;
  margin: 0;
  font-size: 40px;
}

.hero h1 {
  font-family: "Trochut", cursive;
  line-height: 2;
  font-size: 95px;
  margin: 0;
  color: var(--offWhite-color);
}

.hero h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-branding {
  background: var(--main-color);
  border-radius: 4px;
  color: var(--offWhite-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 25px;
  margin: 40px;
}
