:root {
  --main-color: #4d4e4f;
  --secondary-color: #ccced2;
  --popOf-color: #f7bfbf;
  --accent-color: #dcc0aa;
  --offWhite-color: #f7f7f7;
  --main-font: "Poppins", sans-serif;
  --accent-font: "Merriweather", serif;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  color: var(--offWhite-color);
  border: 8px double;
  border-radius: 2px;
  border-color: var(--secondary-color);
  margin: 20px;
}

.navbar-brand {
  font-family: "Neonderthaw", cursive;
}

.hero {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 187, 187) 0%,
    rgb(249, 219, 217) 90%
  );
  text-align: center;
  color: var(--main-color);
  padding: 160px 20px;
}

.hero p {
  text-align: left;
  margin: 0;
  font-size: 40px;
}

.hero h1 {
  font-family: "Neonderthaw", cursive;
  line-height: 2;
  font-size: 150px;
  margin: 0;
  color: var(--offWhite-color);
}

.hero h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-branding {
  background: var(--main-color);
  border-radius: 10px;
  color: var(--offWhite-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 25px;
  margin: 40px;
}

.contentPara {
  text-align: center;
  margin: 50px 400px;
  margin-top: 150px;
  border: 5px ridge;
  border-radius: 2px;
  border-color: var(--offWhite-color);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 187, 187) 0%,
    rgb(249, 219, 217) 90%
  );
  color: var(--main-color);
  font-weight: 500;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 200px;
}

.footer a {
  color: var(--secondary-color);
  font-size: 50px;
}

.footer a :hover {
  color: var(--popOf-color);
}

.text-box h3{
  position: relative;
  bottom: 250px;
  text-align: right;
  color:var(--secondary-color);
  font-family: 'Dancing Script' , cursive;
  font-size: 60px;
  padding: 90px;
}

.albert{
  opacity: 0.5;
}

.aboutMe {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 187, 187) 0%,
    rgb(249, 219, 217) 90%
  );
  text-align: center;
  color: var(--main-color);
  padding: 120px 60px;
  border-radius: 4px;
}

.aboutMe h2{
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  text-align: left;
}

.selfie{
  height: 1000px;
}

.weatherApp{
  border-radius: 4px;
  width: 500px;
  height: 500px;px ;
}
 
h2{
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
}


@media (max-width: 900px) {
  .openingPara {
    margin: 0;
    margin-top: 20px;
  }
